h1 {
    color:yellow;
    white-space: nowrap;
}
h3 {
    color: white;
}
body {
    color: white;
    margin: 0px;
}
.grid-container {
    display: grid;

    grid-template-areas: 
    "header header header"
    "starbar starbar starbar"
    "starL main starR"
    "footer footer footer";

    grid-template-columns: 125px 1fr 125px;

    grid-template-rows: auto 125px 1fr auto;

    min-height: 100vh;
    gap: 0px;
    background-color: darkmagenta;
}
.flex-category img {
    max-width: 100%;
}

header { grid-area: header; background-color: rgb(10, 10, 10); border-color: yellow; padding: 1vh; border-radius: 6px; border-style: outset;}
starL { grid-area: starL; background-color: darkmagenta;  padding: 0px;}
starR { grid-area: starR; background-color: darkmagenta;  padding: 0px;}
starbar { grid-area: starbar; background-color: darkmagenta; padding: 0px;}
main { grid-area: main; background-color: rgb(10, 10, 10); border-color: yellow; padding: 6px; border-radius: 6px; border-style: outset; border-bottom: 0px;}
footer { grid-area: footer; background-color: rgb(10, 10, 10); border-color: yellow; padding: 6px; border-radius: 6px; border-style: outset;}

.grid-header {
    display: grid;
    grid-template-areas:
    "brand empty nav";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    justify-content: center;
}
brand { grid-area: brand; padding:2px;}
empty { grid-area: empty; padding:2px;}
nav { grid-area: nav; padding:2px;}

.dropbtn {
    background-color: black;
    color:white;
    font-size: 16px;
    border-style: solid;
    border-radius: 4px;
    border-color: yellow;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(10, 10, 10);
    border-color: yellow;
    border-style: solid;
    border-radius: 2px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: yellow; color:black}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}


.flex-category {
    display: flex;
    
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
}
.flex-category > div {
    background-color: rgb(10, 10, 10);
    border-color:yellow;
    border-radius: 3px;
    border-style: solid;
    margin: .5vh;
    padding: 6px;
}