/*stars! */
body::before {
    content: "⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐";
    position: fixed;
    font-size: 3em;
    opacity:0.9;
    animation: fall 12s infinite linear;
    top: -50px;
    left: 1%;
    z-index: -0;
    animation-delay: -2s;
}
body::after {
    content: "⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐‎ ‎ ‎ ‎ ‎ ‎ ⭐";
    position: fixed;
    font-size: 3em;
    opacity:0.9;
    animation: fall 12s infinite linear;
    top: -50px;
    left: -25%;
    z-index: -0;
    animation-delay: -6s;
}
@keyframes fall {
0% {transform: translateY(0) rotate(0deg);}
100% {transform: translateY(2200%) rotate(360deg); opacity: 0.2;}
}






h1 {
    color:yellow;
    white-space: nowrap;
    font-size: 4em;
    margin: 0%;
}
h1 a {
    color: inherit;
    white-space: inherit;
    font-size: inherit;
    font: inherit;
    margin: inherit;
    text-decoration: inherit;
}
h3 {
    color: white;
}
body {
    color: white;
    margin: 0px;
}
.grid-container {
    display: grid;

    grid-template-areas: 
    "header header header"
    "starbar starbar starbar"
    "starL main starR"
    "footer footer footer";

    grid-template-columns: 125px 1fr 125px;

    grid-template-rows: auto 125px 1fr auto;

    min-height: 100vh;
    gap: 0px;
    background-color: rgb(40, 4, 56);
}
.flex-category img {
    max-width: 100%;
}

header { grid-area: header; background-color: rgb(10, 10, 10); border-color: yellow; padding: 1vh; border-radius: 6px; border-style: solid; z-index: 1;}
starL { grid-area: starL; background-color: rgb(40, 4, 56);  padding: 0px;z-index: -1;}
starR { grid-area: starR; background-color: rgb(40, 4, 56);  padding: 0px;z-index: -1;}
starbar { grid-area: starbar; background-color: rgb(40, 4, 56); padding: 0px; z-index: -1;}
main { grid-area: main; background-color: rgb(10, 10, 10); border-color: yellow; padding: 6px; border-radius: 6px; border-style: solid; border-bottom: 0px; z-index: 1;}
footer { grid-area: footer; background-color: rgb(10, 10, 10); border-color: yellow; padding: 1vh; padding-left: 2vh; border-radius: 6px; border-style: solid; z-index: 1; }



.grid-header {
    display: grid;
    grid-template-areas:
    "brand empty nav";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    justify-content: center;
    padding-left: 1vh;
    padding-right: 1vh;
}
brand { grid-area: brand; padding:2px;}
empty { grid-area: empty; padding:2px;}
nav { grid-area: nav; padding:2px; align-content: flex-end;}

.linkbtn {
    background-color: black;
    color: white;
    font-size: 24px;
    border-style: solid;
    border-radius: 4px;
    border-color: yellow;
    padding: 6px;
    padding-left: 8px;
}
main p {
    margin-left: 15vh;
    margin-right: 15vh;
}
main h2 {
    margin-left: 15vh;
    margin-right: 15vh;
}

main a {
    background-color: black;
    color: white;
    font-size: 24px;
    border-style: solid;
    border-radius: 4px;
    border-color: yellow;
    padding: 6px;
    padding-left: 8px;
}
main a:hover {
    background-color: yellow;
    color: black;
}
footer a {
    font-size: 24px;
    color: yellow;
    margin-left: 1vh;
    margin: .5vh;
}
footer a:hover {
    background-color: yellow;
    color: black;
}
.dropbtn {
    background-color: black;
    color:white;
    font-size: 52px;
    border-style: solid;
    border-radius: 4px;
    border-color: yellow;
}
.dropdown {
    position: relative;
    display: inline-block;

    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(10, 10, 10);
    border-color: yellow;
    border-style: solid;
    border-radius: 2px;
    min-width: 160px;
    z-index: 2;
    color:white;
    right: 0px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: yellow; color:black}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: yellow; color: black;}


.flex-category {
    display: flex;
    
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
}
.flex-category > div {
    background-color: rgb(10, 10, 10);
    border-color:yellow;
    border-radius: 3px;
    border-style: solid;
    margin: .5vh;
    padding: 6px;
}
.flex-category div p {
    margin-left: 1vh;
    margin-right: 1vh;
}

.flex-card {
    justify-self: center;
    display: flex;
    margin: 1vh;
    max-width: max-content;
    margin-left: 2vh;
    margin-right: 2vh;
    flex-direction: column;
    align-items:center;
    align-content: space-around;
    justify-content: center;
    background-color: rgb(10, 10, 10);
    border-color:yellow;
    border-radius: 3px;
    border-style: solid;
}

.grid-card {
    display: grid;
    grid-template-areas:
    "card emptycard text"
    "card emptycard page";
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto auto;
}

card { grid-area: card; padding:2px; max-width: fit-content;}
emptycard { grid-area: emptycard; padding:2px; max-height: 30vh;}
text { grid-area: text; padding:2px;}
page { grid-area: page; padding:2px;}

.grid-card img {
    height: 30vh;
    align-content:normal;
}

.grid-card a {
    color: white;
    padding: 12px 16px;
    display: block;
    align-items: end;
}

.grid-info {
    display:grid;

    grid-template-areas: 
    "LSpace SlideShow RSpace"
    "info info info";

    grid-template-columns: 125px auto 125px;

    grid-template-rows: auto auto;
}
lspace { grid-area: lspace; padding:2px;}
slideshow { grid-area: slideshow; padding:2px;}
rspace { grid-area: rspace; padding:2px;}
info { grid-area: info; padding:2px;}

